[Desktop Entry]
Categories=AudioVideo;Audio;AudioVideoEditing;
Comment=Nagrywaj i edytuj pliki dźwiękowe
Exec=env GDK_BACKEND=x11 GTK_CSD=0 audacity
GenericName[pl_PL]=Edytor dźwięku
GenericName=Sound Editor
Icon=audacity
Keywords=sound;music editing;voice channel;frequency;modulation;audio trim;clipping;noise reduction;multi track audio editor;edit;mixing;WAV;AIFF;FLAC;MP2;MP3;
MimeType=application/x-audacity-project;application/x-audacity-project+sqlite3;audio/basic;audio/x-aiff;audio/x-wav;audio/aac;audio/ac3;audio/mp4;audio/x-ms-wma;video/mpeg;audio/flac;audio/x-flac;audio/mpeg;application/ogg;audio/x-vorbis+ogg;
Name=Audacity
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
StartupWMClass=Audacity
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
