[Desktop Entry]
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
Comment=Tworzenie oraz obróbka obrazów i fotografii
Exec=env env GDK_BACKEND=x11 GTK_CSD=0 env gimp
GenericName[pl_PL]=Edytor obrazów
GenericName=Image Editor
Icon=gimp
Keywords[pl_PL]=GIMP;grafika;graficzny;design;dizajn;projektowanie;wzornictwo;ilustracja;ilustrowanie;rysunek;rysowanie;rysownictwo;malowanie;malarstwo;obrazy;obrazki;fotografia;zdjęcia;retuszowanie;renderowanie;wtyczki;
Keywords=GIMP;graphic;design;illustration;painting;
MimeType=image/x-xcf;application/pdf;application/postscript;application/x-navi-animation;image/apng;image/avci;image/avif;image/bmp;image/dds;image/g3-fax;image/gif;image/heif;image/hej2k;image/jp2;image/jpeg;image/jxl;image/openraster;image/png;image/qoi;image/svg+xml;image/tiff;image/vnd.microsoft.icon;image/vnd.wap.wbmp;image/webp;image/x-dcm;image/x-dcx;image/x-exr;image/x-fits;image/x-flic;image/x-icns;image/x-ico;image/x-jp2-codestream;image/x-pcx;image/x-pixmap;image/x-portable-anymap;image/x-psd;image/x-psp;image/x-seattle-filmcamera;image/x-sgi;image/x-sun-raster;image/x-tga;image/x-wmf;image/x-xbitmap;image/x-xwindowdump
Name[pl_PL]=Edytor obrazów GIMP
Name=GNU Image Manipulation Program
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=gimp
Terminal=false
TerminalOptions=
TryExec=gimp-3.2
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
