[Desktop Entry]
Categories=System;Emulator;GTK;
Comment=Zarządzanie maszynami wirtualnymi
Exec=env env GDK_BACKEND=x11 GTK_CSD=0 env virt-manager
GenericName[pl_PL]=Przeglądarka/menedżer maszyn wirtualnych
GenericName=Virtual machine viewer/manager
Icon=virt-manager
Keywords=virtualization;libvirt;vm;vmm;qemu;xen;lxc;kvm;
Name[pl_PL]=Menedżer maszyn wirtualnych
Name=Virtual Machine Manager
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
